// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  list-style: none;

}

.article a {
  font-size: 24px;
  opacity: 0.8;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.container {
padding: 20px 100px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: #fc3c3c;
  color: white;
}

.flex-content {
  color: white;
}

.flex-content i {
  padding-right: 10px;
}
.flex-content a {
  color: white;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.flex-content h1 {
  font-size: 40px;
  &:hover {
    color: white;
  }
}

.article-name {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.content {
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.article-icon {
  padding-left: 5px;
}

.article-icon i, a{
  color: #4a2f5b;
  opacity: 0.8;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 18px;
  &:hover {
    opacity: 1;
  }
}
